:root {
  --primary-color: #FF0072;
  --primary-light: #faf0f4;
  --white-color: #fff;
  --black-color: #000;
  --grey-color: #7d7d7d;
}

.thm-btn {
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 0.7em 2em;
  border: 3px solid var(--primary-color);
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: var(--primary-color);
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
}

.thm-btn:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: var(--primary-color);
  z-index: -1;
}

.thm-btn:hover,
.thm-btn:focus {
  color: white;
}

.thm-btn:hover:before,
.thm-btn:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.thm-btn:active {
  transform: scale(0.9);
}